#title {
    margin: 40px;
    color: orange;
    background-color: #dfdfe2;
}
body {
    background: url(calc2.png);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    color: azure;
    height: 80vh;
}

#add_div {
    border-radius: 10px;
    border-style:inherit;
    max-width: 600px;
    margin: auto;
    display: block;
    padding: 20px;
}

#flex {
    display: flex;
    justify-content: space-evenly;
}