#title {
    margin: 10px;
    color: orange;
    background-color: #dfdfe2;
}
body {
    background: url(calc2.png);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    color: azure;
    height: 80vh;
    transform: scale(0.9);
}

#p-1, #p-2, #p-3 {
    font-size: xx-large;
    font-weight: bold;
}

h1 {
    padding: 3px 0;
}

#add_div {
    border-radius: 10px;
    border-style:inherit;
    max-width: 600px;
    margin: 10px auto;
    display: block;
    padding: 10px;
}

#flex {
    display: flex;
    justify-content: space-evenly;
}